{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- start banner Area -->
<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					About Us
				</h1>
				<p class="text-white link-nav"><a href="{% url 'website:index' %}">Home </a> <span class="lnr lnr-arrow-right"></span>
					<a href="about.html"> About Us</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start about-info Area -->
<section class="about-info-area section-gap">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 info-left">
				<img class="img-fluid" src="{% static 'img/about/info-img.jpg' %}" alt="">
			</div>
			<div class="col-lg-6 info-right">
				<h6>About Us</h6>
				<h1>Who We Are?</h1>
				<p>
					At HIVA Construction Supplies Trading Company, we are more than just suppliers 
					and traders. We're your dependable partners in building a better tomorrow. With 
					a strong emphasis on quality, innovation, and customer satisfaction, our vision is
					 to be the preferred and most trusted construction supply and trading company.
					  We are recognized for our unwavering commitment to excellence, sustainability,
					   and customer-centricity. We aim to be at the forefront of sustainable practices,
					    contributing to a greener and more environmentally conscious construction
						 ecosystem.

				</p>
			</div>
		</div>
	</div>
</section>
<!-- End about-info Area -->

<!-- Start other-issue Area -->
<section class="other-issue-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Comprehensive Product Range</h1>
					<p>We offer an extensive and diverse range of construction materials, 
						catering to the dynamic needs of the construction sector. From foundational
						 elements to finishing touches, we provide everything required to turn your
						  vision into reality.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o5.jpg' %}" alt="">
					</div>
					<a >
						<h4>Wire & Cable</h4>
					</a>
					<p>
						<li>building wire</li>
						<li>Royal cord cable</li>
						<li>Communication cable</li>
						<li>Fire resistant cable</li>
						<li>PVC & IMC conduit</li>
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o6.jpg' %}" alt="">
					</div>
					<a>
						<h4>Tile</h4>
					</a>
					<p>
						<li>Acid resistant tiles</li>
						<li>Porcelain tile</li>
						<li>Pool tile</li>
						<li>Natural stone slab</li>
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o7.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Steel</h4>
					</a>
					<p>
						<li>Carbon steel C channel</li>
						<li>H beam</li>
						<li>I beam</li>
						<li>Steel rebar</li>
						<li>Sheet plate</li>
						<li>G.I sheet</li>
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o8.jpg' %}" alt="">
					</div>
					<a>
						<h4>Sanitary and Plumbing fixtures</h4>
					</a>
					<p>
						<li>Water closet</li>
						<li>Lavatory & Wall-hung ones</li>
						<li>Lavatory Faucet</li>
						<li>PPR pipe</li>
						<li>PVC pipe</li>
						
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End other-issue Area -->

{% endblock %}