{% extends 'base.html' %}
{% load static %}
{% load website_tags %}
{% block content %}

<!-- start banner Area -->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 banner-left">
				<h6 class="text-white">Empowering Builders, Enriching Lives</h6>
				<h1 class="text-gold" >HIVA CONSTRUCTION SUPPLIES TRADING</h1>
				<p class="text-white">
					We are more than just a supplier and trader of construction materials, we are your dependable partner in building a better tomorrow
				</p>

			</div>

		</div>
	</div>
</section>
<!-- End banner Area -->

<!-- Start More About Us Area -->
<section class="other-issue-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">More About Us</h1>
					<p>Our vision is to be the preferred and most trusted construction supply and trading
						 company, recognized for our unwavering commitment to excellence, sustainability, 
						 and customer-centricity</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o1.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Vision</h4>
					</a>
					<p>
						Our vision is to empower builders and Manufacturers by providing them with a 
						comprehensive range of high-quality raw materials, machines, construction 
						supplies, and trading services. By consistently delivering superior products 
						and innovative solutions, we aim to enrich the lives of builders and construction
						 professionals, enabling them to create sustainable, safe, and awe-inspiring 
						 structures that positively impact communities and society.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o2.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Mission</h4>
					</a>
					<p>
						our mission is to empower construction businesses/professionals and manufacturers
						 by efficiently supplying a comprehensive range of top-notch and cost-effective 
						 products. We are committed to fostering long-lasting relationships and 
						 exceptional service, ensuring our clients' success in every project they 
						 undertake.
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o3.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Values</h4>
					</a>
					<p>
						. Commitment to Quality <br/>
						. Comprehensive Product Range <br/>
						. Sustainability and Social Responsibility <br/>
						. Customer Satisfaction <br/>
						. Collaborative Partnerships <br/>
						. Global Reach, Local Expertise <br/>
						. Experienced Team
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-other-issue">
					<div class="thumb">
						<img class="img-fluid" src="{% static 'img/o4.jpg' %}" alt="">
					</div>
					<a href="#">
						<h4>Stay Updated</h4>
					</a>As a new and dynamic player in the construction supplies industry, we're 
					constantly evolving and growing. We invite you to stay connected with us to be
					 the first to know about our latest news, product offerings, and upcoming projects.
					We are excited to embark on this journey with you, and your support means the world 
					to us. Subscribe to our newsletter and follow us on social media to be part of our 
					exciting future!
					<p>
						
											
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End More About Us Area -->

<!-- Start Did not find your Product?
Feel free to ask us.
We‘ll make it for you Area -->
<section class="home-about-area">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-end">
			<div class="col-lg-6 col-md-12 home-about-left">
				<h1>
					Did not find your Product? <br>
					Feel free to ask us. <br>
					We‘ll make it for you
				</h1>
				<p>
					We are here to assist you by providing the materials and goods you need out of our product list. We will evaluate your requests and assess their feasibility
				</p>
				<a href="{% url 'website:contact' %}" class="primary-btn text-uppercase">ASK US</a>
			</div>
			<div class="col-lg-6 col-md-12 home-about-right no-padding">
				<img class="img-fluid" src="{% static 'img/about-img.jpg' %}" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End Did not find your Product?
Feel free to ask us.
We‘ll make it for you Area -->


<!-- Start Our Team Area -->
<section class="popular-destination-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Our Team</h1>
					<p>seasoned and motivated professionals with years of experience
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/d1.jpg' %}" alt="">
					</div>
					<div class="desc">
						<a href="#" class="price-btn">hrdip.2018@gmail.com</a>
						<h4>Hossein Laydia Raei</h4>
						<p>President</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/d2.jpg' %}" alt="">
					</div>
					<div class="desc">
						<a href="#" class="price-btn">cmcangco@gmail.com</a>
						<h4>Christian Cangco</h4>
						<p>Sales Manager</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="{% static 'img/d3.jpg' %}" alt="">
					</div>
					<div class="desc">
						<a href="#" class="price-btn">sarahesmaeili0@gmail.com</a>
						<h4>Sarah Esmaeili</h4>
						<p>Senior Consultant</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Our Team Area -->

<!-- Start posts Area -->
{% websitelatestposts %}

<!-- End posts Area -->

{% endblock %}